$irish: #4d5ae5;
$navyblue: #2e2f42;
$white: #fff;
$slate: #434455;

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

}

body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
    line-height: 1em;
    letter-spacing: 0.05em;
    color: $white;
}

h2 {
    font-size: 2.25rem;
    line-height: 0.36em;
    letter-spacing: 0.0072em;
    text-transform: capitalize;
}
h1,
h2 {
    font-weight: 700;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 0.2em;
    letter-spacing: 0.004em;
}

h2,
h3 {
    color: $navyblue;
}

p {
    font-size: 1rem;
    line-height: 0.16em;
    letter-spacing: 0.0032em;
}

.container {
    width: 1128px;
    max-width: 100%;
    margin: 0 auto;
}
.header {
    padding: 24px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wrapper {
        display: flex;
        align-items: center;
    }
    .logo {
        font-family: "Raleway", sans-serif;
        font-size: 1.125rem;
        line-height: 0.179em;
        letter-spacing: 0.0054em;
        color: $navyblue;
        text-transform: uppercase;
    }
    .web {
        color: $irish;
    }
    .menu-list,
    .contact-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    .menu-list {
        margin-left: 70px;
    }
    .menu-link,
    .contact-link {
        font-size: 1rem;
        line-height: 0.16em;
        letter-spacing: 0.0032em;
        color: $navyblue;
    }
    .menu-link {
        font-weight: 500;
    }
    .contact-link {
        font-weight: 400;
    }
}

.hero {
    text-align: center;
    padding: 188px 472px;
    background: $navyblue;
    .btn {
        font-size: 1rem;
        font-weight: 500;
        line-height: 0.16em;
        letter-spacing: 0.0064em;
        color: $white;
        background: $irish;
        padding: 16px 32px;
        margin-top: 48px;
    }
}
